<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      &copy; CYF Hotel 2017
      <small class="d-block mb-3 text-muted">© 2017-2018</small>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li>
          <a class="text-muted" href="#">Team</a>
        </li>
        <li>
          <a class="text-muted" href="#">Locations</a>
        </li>
        <li>
          <a class="text-muted" href="#">Privacy</a>
        </li>
        <li>
          <a class="text-muted" href="#">Terms</a>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li>
          <a class="text-muted" href="/customers">Customers</a>
        </li>

      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li>
          <a class="text-muted" href="#">API Documentation</a>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li>
          <a class="text-muted" href="#">Favourites</a>
        </li>
        <li>
          <a class="text-muted" href="#">Stackoverflow</a>
        </li>
      </ul>
    </div>

  </div>
</footer>